<div id="about-dest">
	<div class="inner-content">
		<div class="row">
			<div class="col-lg-12" style="text-align: center;">
				<h1>ABOUT</h1>
			</div>
		</div>
		<div class="row shape-spacing">
			<div style="text-align: center;" class="col-lg-4 hex-col">
				<div class="hexagon aligner"><i class="material-icons flex-center">devices</i></div>
				<!--div class="progress">
		  			<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
				</div-->
				<p><strong>RESPONSIVE</strong></p>
			</div>
			<div style="text-align: center;" class="col-lg-4 hex-col">
				<div class="hexagon aligner"><i class="material-icons flex-center">work</i></div>
				<p><strong>PROFESSIONAL</strong></p>
			</div>
			<div style="text-align: center;" class="col-lg-4 hex-col">
				<div class="hexagon aligner"><i class="material-icons flex-center">fast_forward</i></div>
				<p><strong>LIGHTNING-FAST</strong></p>
			</div>
		</div>
	</div>
</div>
