<div id="about-dest">
	<div class="container">
		<div class="inner-content">
			<div class="row personal-space">
				<div class="col-lg-12" style="text-align: center;">
					<h1>ABOUT</h1>
				</div>
			</div>
			<div class="row shape-spacing">
				<div style="text-align: center;" class="col-lg-4 hex-col">
					<div class="hexagon aligner"><i class="material-icons flex-center">devices</i></div>
					<p><strong>RESPONSIVE</strong></p>
					<p>Beautiful design &amp; layout for pretty much all screen sizes.</p>
				</div>
				<div style="text-align: center;" class="col-lg-4 hex-col">
					<div class="hexagon aligner"><i class="material-icons flex-center">work</i></div>
					<p><strong>PROFESSIONAL</strong></p>
					<p>5+ years of professional design and development experience.</p>
				</div>
				<div style="text-align: center;" class="col-lg-4 hex-col">
					<div class="hexagon aligner"><i class="material-icons flex-center">fast_forward</i></div>
					<p><strong>LIGHTNING-FAST</strong></p>
					<p>Lightweight design and best practices optimized for speed.</p>
				</div>
			</div>
			<div class="row personal-space">
				<div class="col-lg-6 skills-container">
					<h2 style="text-align: center;">Skills</h2>
					<div class="bar-container">
						<div class="skill html"><span class="skill-desc">HTML/CSS</span><span class="skill-lvl" role="image" aria-label="cheesing face">😁</span></div>
					</div>
					<div class="bar-container">
						<div class="skill js"><span class="skill-desc">JavaScript/jQuery</span><span class="skill-lvl" role="image" aria-label="slight smiling face">🙂</span></div>
					</div>
					<div class="bar-container">
						<div class="skill php"><span class="skill-desc">PHP</span><span class="skill-lvl" role="image" aria-label="grinning face">😊</span></div>
					</div>
					<div class="bar-container">
						<div class="skill wp"><span class="skill-desc">WordPress/CMS</span><span class="skill-lvl" role="image" aria-label="cheesing face">😁</span></div>
					</div>
					<div class="bar-container">
						<div class="skill angular"><span class="skill-desc">Angular</span><span class="skill-lvl" role="image" aria-label="thinking face">🤔</span></div>
					</div>
					<div class="bar-container">
						<div class="skill photoshop"><span class="skill-desc">Photoshop</span><span class="skill-lvl" role="image" aria-label="neutral face">😐</span></div>
					</div>
					<div class="bar-container">
						<div class="skill design"><span class="skill-desc">UX/UI Design</span><span class="skill-lvl" role="image" aria-label="grinning face">😊</span></div>
					</div>
					<div class="bar-container">
						<div class="skill grilling"><span class="skill-desc">Grilling/Eating</span><span class="skill-lvl" role="image" aria-label="fire">🔥</span></div>
					</div>
				</div>
				<div style="text-align: center;" class="col-lg-6 me-container">
					<h2>Who am I?</h2>
					<p>I'm a web developer with over 5 years of professional experience. I believe in clean and simple designs that catch the user's attention and communicate a message effectively. In today's world of information overload, a lightning-fast and functional website is what's most important.</p>
					<img src="assets/images/designing.jpg" alt="Person planning out wegsite design" class="rounded-image">
				</div>
			</div>
		</div>
	</div>
</div>
<div id="portfolio-dest">
	<div class="container-fluid">
		<div class="inner-content">
			<div class="row personal-space">
				<div class="col-lg-12" style="text-align: center;">
					<h1>MY WORK</h1>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="col-lg-6">
				</div>
				<div class="col-lg-6">
					<div class="portfolio-image-container">
						<img src="assets/images/blood-sugar-buddy.png" alt="Screenshot of Blood Sugar Buddy">
					</div>
				</div>
			</div>
			<div class="row">
			</div>
			<div class="row">
			</div>
		</div>
	</div>
</div>
<div id="contact-dest">
	<div class="container">
		<div class="inner-content">
			<div class="row personal-space">
				<div class="col-lg-12" style="text-align: center;">
					<h1>GET IN TOUCH</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 aligner">
					<div class="form-container">
						<form action="https://formspree.io/info@jordancook.rocks" method="POST">
							<div class="form-group">
								<input placeholder="Name" type="text" name="name" class="form-control" required>
							</div>
							<div class="form-group">
								<input placeholder="Email" type="email" name="email" class="form-control" required>
							</div>
							<div class="form-group">
								<textarea placeholder="How can I help?" type="text" name="message" class="form-control" rows="5"></textarea>
							</div>
							<div class="form-group">
								<input type="submit" id="submit" value="SUBMIT" class="btn btn-primary">
							</div>
							<div id="submitted" required></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
